<!doctype html>
<html lang="fr">

<head>
  <title>Oney - Facily Pay - Triggers Email</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  {% include 'css/reset.liquid' %}
  {% include 'css/style-index.liquid' %}
</head>

<body>
  <div id="wrapper">
    <div class="logo">
      <img src="http://projets.gregoiredierendonck.fr/oney/images/logo-oney.png">
    </div>
    <h1>Facily Pay - Triggers Email</h1>
    <div class="content">
      <div class="contener">
        <ul>
          <li><a target="_blank" href="activation-compte-V1.html">Activation de compte - V1</a></li>
          <li><a target="_blank" href="creationcompte-V1.html">Création de compte - V1</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
