<!doctype html>
<html lang="fr">

<head>
  <title>Labo3G - Triggers Email</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
  {% include 'css/reset.liquid' %}
  {% include 'css/style-index.liquid' %}
</head>

<body>
  <div id="wrapper">
    <div class="logo">
      <img src="images/logo.jpg">
    </div>
    <h1>Labo3G - Triggers Email</h1>
    <div class="content">
      <div class="contener">
        <ul>
          <li><a target="_blank" href="nouvelle-exposition.html">Expo mai 2016 + Lancement nouveau site</a></li>
          <li><a target="_blank" href="relance-vernissage-mai2016.html">Relance vernissage mai 2016</a></li>
          <li><a target="_blank" href="cloture-expo-mai2016.html">Cloture expo mai 2016</a></li>
          <li><a target="_blank" href="expo-septembre2016.html">Expo septembre 2016</a></li>
          <li><a target="_blank" href="cloture-expo-septembre-2016.html">Cloture expo septembre 2016</a></li>

        </ul>
      </div>
    </div>
  </div>

</body>
</html>
