<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <title>Félicitation, votre compte Facily Pay a été créé.</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=320, target-densitydpi=device-dpi">
      {% include 'css/mq.liquid' %}
      {% include 'css/client.liquid' %}
      {% include 'css/reset.liquid' %}
      {% include 'css/style.liquid' %}
      <!--[if gte mso 9]>
      <style _tmplitem="179" >
        .article-content ol, .article-content ul {
           margin: 0 0 0 24px;
           padding: 0;
           list-style-position: inside;
        }
      </style>
      <![endif]-->
  </head>
  <body bgcolor="#FFFFFF">
    <!-- Content -->
      <!--[if gte mso 9]>
      <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" src="images/bg.png" color="#f4f4f4"/>
      </v:background>
      <![endif]-->
    <table height="20" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td valign="top" background="images/bg.png" align="center">
            <table class="w640" style="margin:0 10px;" width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="w640" width="640" bgcolor="#ffffff">
                    <table align="left" class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td class="w30" width="30"></td>
                          <td class="w580" width="580">
                            <!-- Margin -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580" height="20"></td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Small Text -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580">
                                    <div align="center" class="tiny-article-content">
                                      Si vous ne visualisez pas correctement ce message, <a href="">consultez-le en ligne</a><br/>
                                      Pour être sûr(e) de recevoir tous nos e-mails, pensez à ajouter l'expéditeur à votre liste de contacts.
                                    </br/>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Margin -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580" height="20"></td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Image full -->
                            <table class="w580 hide" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580" align="center">
                                    <div class="article-content">
                                      <a href="#">
                                        <img src="images/placeholder.jpg" alt="Personne utilisant Facily Pay pour régler ses achats en 3x ou 4x sans frais" width="580" class="w580" border="0"/>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Margin -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580" height="20"></td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Title H1 -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580">
                                    <div align="left" class="article-title">
                                      Félicitation,<br/>
                                      votre Compte Facily Pay a été créé.

                                    </br/>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Margin -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580" height="40"></td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Simple Text -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580">
                                    <div align="left" class="article-content">
                                      Merci de votre confiance M. Arnaud Mercier.<br/>
                                      <br/>
                                      Vous pouvez dès à présent payer en 3 ou 4 fois par carte bancaire
                                      de manière sécurisée avec votre adresse email et votre mot de passe
                                      chez <a href="">tous nos sites partenaires</a>.<br/>
                                      <br/>
                                      Cordialement,<br/>
                                      L'équipe Oney
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Margin -->
                            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="w580" width="580" height="40"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="w30" width="30"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Margin -->
            <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="w640" width="640" height="60"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Footer -->
    <table id="footer" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
      <tbody>
        <tr>
          <td align="center" bgcolor="#FFFFFF">
            <!-- Footer text -->
            <table class="w640" style="margin:0 10px;" width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="w640" width="640">
                    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                      <tbody>
                        <tr>
                          <td class="w30" width="30"></td>
                          <td class="w580 h0" width="580" height="30"></td>
                          <td class="w30" width="30"></td>
                        </tr>
                        <tr>
                          <td class="w30" width="30"></td>
                          <td class="w580" width="580" valign="top" id="footer">
                            <div align="center">
                              Veuillez ne pas r&eacute;pondre &agrave; ce message automatique.<br/>
                              Vous recevez ce message parce que vous vous êtes inscrit à la newsletter Labo3G. Si vous souhaitez ne plus recevoir d'emails de notre part, <a href="*|UNSUB|*">cliquez-ici</a>.
                            </div>
                            <div align="center">
                              <br/>
                              &copy; Copyright Labo3G 2016, tous droits r&eacute;serv&eacute;s.
                            </div>
                          </td>
                          <td class="w30" width="30"></td>
                        </tr>
                        <tr>
                          <td class="w30" width="30"></td>
                          <td class="w580 h0" width="360" height="40"></td>
                          <td class="w30" width="30"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Footer text -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Spacer hack for Gmail mobile -->
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" class="hide">
      <tbody>
        <tr>
          <td align="center" bgcolor="#FFFFFF">
            <table width="660" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td width="660" height="1" style="line-height:1px; height:1px; min-width: 660px;">
                    <img src="images/spacer-10.jpg" width="660" height="1" border="0" style="display:block; width:660px; height:1px; max-height:1px; min-height:1px; min-width:660px;" alt="" />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
